:root {
    --apelsin-color: #FF7823;
    --tall-color: #737664;
    --gurka-color: #82A686;
    --cream-de-la-creme: #E4DACB;
    --sand-color: #AD8B6E;
    --kaffe-color: #6F584B;
    --chocklad-color: #3E2D27;
    --skymning-color: #323232;
}

@font-face {
    font-family: 'Montserrat-b';
    src: url('Montserrat-Woff/Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Woff/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-m';
    src: url('Montserrat-Woff/Montserrat-Medium.woff2') format('woff2'),
         url('Montserrat-Woff/Montserrat-Medium.woff') format('woff');
    font-weight: medium;
}

@font-face {
    font-family: 'Montserrat-r';
    src: url('Montserrat-Woff/Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Woff/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
}

html, body{
    margin: 0;
    font-family: 'Montserrat-m';
    font-size: 16px;
}

/*Header Section*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 11rem;
    margin: 0 2rem;

    font-size: 18px;
}

.burger-icon div{
    width: 38px;
    height: 4px;
    margin-bottom: 0.6rem;
    background-color: black;
}

nav{
    display: none;
}

.header-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 4.5rem;
}

.header-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-options p{
    display: none;
}

.header-options img{
    width: 3rem;
    height: 3rem;

    margin-left: 0.5rem;
}

/* Hero Section */

.hero-section {
    grid-column-start: 1;
    height: 65rem;
    width: 100%;
    grid-gap: 0;
    background-image: url('./images/image-6.png');
    background-position: center;
    background-size: cover;
}

.hero-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Image Section */

.images-section {
    width: 100%;
    height: 100%;
}

.images-section{
    margin-top: 4.3rem;
    display: grid;
    grid-template-columns: 1;
    gap: 1.6rem;
}

.images-section img{
    object-fit: cover;
    grid-column-start: 1;
    width: 100%;
    height: 52.7rem;

}

/* New Collection Section */

.new-collection-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 22.4rem;
    background-color: #3F3F3F;

}

.new-collection-section p{
    margin: 3.6rem auto auto auto;
    order: 0;
    font-size: 2rem;
    color: #FDFDFD;
    width: 70%;
    text-align: center;
    font-family: 'Inter';
}

.explore-now-button{
    order: 1;
    margin:  auto;
}

@media screen and (min-width: 768px) {
    /*Header Section*/
    .burger-icon{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    nav a{
        text-decoration: none;
        color: black;
        margin-right: 1rem;
    }

    .header-options p{
        display: contents;
    }

    .header-options img{
        width: 4rem;
        height: 4rem;
    }

    .header-logo{
        width: 6.5rem;
    }
}