:root {
    --apelsin-color: #FF7823;
    --tall-color: #737664;
    --gurka-color: #82A686;
    --cream-de-la-creme: #E4DACB;
    --sand-color: #AD8B6E;
    --kaffe-color: #6F584B;
    --chocklad-color: #3E2D27;
    --skymning-color: #323232;
    --fel-color: #FF0000;
    --footer-background: #E4DACB;
}

@font-face {
    font-family: 'Montserrat-b';
    src: url('Montserrat-Woff/Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Woff/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-sb';
    src: url('Montserrat-Woff/Montserrat-SemiBold.woff2') format('woff2'),
         url('Montserrat-Woff/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat-m';
    src: url('Montserrat-Woff/Montserrat-Medium.woff2') format('woff2'),
         url('Montserrat-Woff/Montserrat-Medium.woff') format('woff');
    font-weight: medium;
}

@font-face {
    font-family: 'Montserrat-r';
    src: url('Montserrat-Woff/Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Woff/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
}

p, a{
    font-family: 'Montserrat-r';
}

html, body{
    margin: 0;
    font-family: 'Montserrat-m';
    font-size: 1rem;
}

h3{
    font-family: 'Montserrat-b';
    font-size: 32px;
    color: white;
}

h2{
    color: white;
    font-family: 'Montserrat-r';
    font-size: 41px;

}

h4{
    font-family: 'Montserrat-b';
}

/*Header Section*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 11rem;
    margin: 0 2rem;

    font-size: 1.1rem;
}

.burger-icon{
    cursor: pointer;
}

.burger-icon div{
    width: 38px;
    height: 4px;
    margin-bottom: 0.4rem;
    background-color: black;
}

nav{
    display: none;
}

.header-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 4.5rem;
}

.header-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-options p{
    display: none;
}

.header-options img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0.5rem;
}

/* Burger Menu Section */
.burger-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(-150vw);
    top: 0;
    left: 0;
    background-color: var(--cream-de-la-creme);
    z-index: 2;
    transition: 0.4s transform ease;
}

.burger-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10rem;
    margin-top: 7rem;
    margin-left: 1.5rem;
}

.burger-drop-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-drop-content{
    overflow: hidden;
    display: none;
    max-height: 0;
}

.burger-nav a, .burger-drop-down img{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat-b';
    font-size: 1rem;
    padding-bottom: 1rem;
}

.close-menu{
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 1.5rem;
}

.burger-menu-open{
    transform: translateX(0);

}
/* Hero Section */

.hero-section {
    grid-column-start: 1;
    height: 65rem;
    width: 100%;
    grid-gap: 0;
    background-image: url('/images/hero-img.png');
    background-position: -600px;
    background-size: cover;
}

.hero-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Image Section */

.images-section{
    width: 100%;
    height: 100%;
    margin-top: 4.3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;

}

.white-box{
    position: absolute;
    margin: 20px 0 0 0;
    background-color: white;
    width: 99px;
}
.white-box p{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--skymning-color);
}

.images-section-thumbnail{
    grid-column-start: 1;
}

.images-section-thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 596px;

}

#images-section-thumbnail-2 img{
    object-position: -220px 0px;
}

#images-section-thumbnail-3{
    display: none;
}

.images-section-thumbnail-info p{
    margin-left: 5%;
}

@media (min-width:600px) {
    .images-section{
        grid-template-columns: 20% 1fr 20%;
    }

    .images-section-thumbnail{
        grid-column-start: 2;
    }

    #images-section-thumbnail-3{
        display: inline;
    }
    
}

@media (min-width:1281px) {
    .images-section{
        grid-template-columns: 20% 1fr 1fr 1fr 20%;
    }

    #images-section-thumbnail-1{
        grid-column-start: 2;
    }

    #images-section-thumbnail-2{
        grid-column-start: 3;
    }

    #images-section-thumbnail-3{
        grid-column-start: 4;
    }
}

/* New Collection Section */

.new-collection-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 224px;
    background-color: var(--apelsin-color);
    margin-top: 4rem;

}

.new-collection-section h3{
    margin: 36px auto 16px auto;    
}

.new-collection-section p{
    margin: 0 auto 8px auto;
    order: 0;
    font-size: 1rem;
    color: white;
    width: 70%;
    text-align: center;
}

@media (max-width: 480px) {
    .new-collection-section h3 {
        margin-bottom: 8px;
    }
}

.explore-now-button{
    order: 1;
    margin:  0 auto 0 auto;
}

/* Collection section */

.collection-section{
    position: relative;
}

.collection-section-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.collection-section-images img{
    width: 100%;
    max-height: 982px;
    object-fit: cover;
}

#collection-section-img1{
    grid-column-start: 1;
}

#collection-section-img2{
    grid-column-start: 2;
}

.collection-section h2{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection-section-header{
    position:relative;
    height: 100%;
}

.collection-section .explore-now-button{
    margin-top: 40px;
}

.collection-section .explore-now-button{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}


/*Contact Section*/
.contact-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 42rem;

    background-image: url('images/contact-section-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section h2{
    color: white;
    font-family: 'Montserrat-b';
}

.contact-text{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28rem;
    margin-bottom: 2rem;
}

.contact-text p{
    display: none;
    color: white;
}

.contact-bg-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.contact-bg-image img{
    width: 100vw;
    height: 42rem;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    left: 0;
    top: 0;
}

.contact-heading{
    text-align: center;
    font-size: 2.6rem;
}

.contact-text, .contact-content{
    z-index: 1;
}

.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--apelsin-color);
    width: 100%;
    height: 11.5rem;
}

.contact-content-container p{
    border-left: 8px solid var(--gurka-color);
    padding-left: 0.5rem;
    color: white;
}

.contact-input-field input, .contact-input-field button{
    margin-left: 1rem;
}

.contact-content-container p{
    margin-left: 1rem;
}

.contact-input-field input{
    width: 11.6rem;
    padding: 1rem 0.5rem;
}

.input-error-active{
    border: 2px solid var(--fel-color);
}

.contact-input-field button{
    width: 12.4rem;
    padding: 1rem 0rem;
    margin-right: 1rem;
    background-color: var(--chocklad-color);
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
}

.contact-input-field button img{
    margin-left: 1.5rem;
}

.contact-input-field button:hover{
    background-color: var(--kaffe-color);
}

.contact-input-field button:hover::after{
    border-left: var(--kaffe-color);
}

.contact-input-field button::after{
    content: '';
    position: absolute;
    right: -3px;
    bottom: -4px;
    width: 0.7rem;
    height: 0.8rem;
    margin: -2px;
    transform: rotate(45deg);
    background-color: var(--apelsin-color);
    border-left: 1px solid var(--chocklad-color);
}

.email-error-field{
    display: none;
}

.email-error-field-active{
    display: flex;
    align-items: center;
    width: 27rem;
    position: absolute;
    bottom: 0;
}

.email-error-field-active img{
    width: 0.9rem;
    height: 0.9rem;
}

.email-error-field-active p{
    color: white;
    font-family: 'Montserrat-r';
    font-weight: 12px;
    margin: 0.4rem 0.6rem;
}

/* Product Delivery Section */

.product-delivery{
    display: flex;
    justify-content: center;
    margin: 2rem;
    height: 10rem;
}

.delivery-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.delivery-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 12rem;
    height: 100%;
    cursor: default;

    transition: 2s scale;
}

.delivery-card:hover{
    scale: 1.2;
}

.delivery-card h3, .delivery-card p{
    margin-top: 1rem;
    margin-bottom: 0;
}

.delivery-card h3{
    font-family: 'Montserrat-b';
    font-size: 1rem;
}

.delivery-card p{
    font-family: 'Montserrat-r';
    font-size: 0.75rem;
}

.delivery-card img{
    height: 3rem;
}

@media screen and (min-width: 768px) {
    /*Header Section*/
    .burger-icon{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    nav a{
        text-decoration: none;
        color: black;
        margin-right: 1rem;
        font-size: 0.9rem;
    }

    .header-options p{
        display: contents;
        font-size: 0.9rem;
    }

    .header-options img{
        width: 3rem;
        height: 3rem;
    }

    .header-logo{
        width: 6.5rem;
    }
}

@media screen and (min-width: 1023px){
    nav a{
        font-size: 1.1rem;
    }

    .header-options p{
        font-size: 1.1rem;
    }

    .delivery-container{
        width: 60rem;
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .contact-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4rem;
        width: 60rem;
        text-align: center;
    }

    .contact-text p{
        display: block;
    }
}

/* Footer Top */

.footer-top{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 100px;
    background-color: var(--footer-background);
}
.footer-top ul{
    list-style: none;
    padding: 0;
}

.footer-top h2{
    font-family: 'Montserrat-b';
}

.footer-service, .footer-member{
    margin-left: 48px;
    color: var(--skymning-color);
}

.footer-member{
    margin-right: 5%;
}

.footer-top h3, h2{
    color: var(--skymning-color);
}

.footer-contact{
    flex-grow: 2;
}

.footer-contact form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 158px;
}

.footer-contact input{
    width: 30%;
}

.footer-contact p{
    width: 40%;
}

.footer-contact-textbox{
    width: 11.6rem;
    padding: 1rem 0.5rem
}

.footer-link-section{
    order: 1;
    display: flex;
    flex-direction: row;
}