:root {
    --apelsin-color: #FF7823;
    --tall-color: #737664;
    --gurka-color: #82A686;
    --cream-de-la-creme: #E4DACB;
    --sand-color: #AD8B6E;
    --kaffe-color: #6F584B;
    --chocklad-color: #3E2D27;
    --skymning-color: #323232;
    --fel-color: #FF0000;
    --footer-background: #E4DACB;
}

@font-face {
    font-family: 'Montserrat-b';
    src: url('Montserrat-Woff/Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Woff/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat-sb';
    src: url('Montserrat-Woff/Montserrat-SemiBold.woff2') format('woff2'),
         url('Montserrat-Woff/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat-m';
    src: url('Montserrat-Woff/Montserrat-Medium.woff2') format('woff2'),
         url('Montserrat-Woff/Montserrat-Medium.woff') format('woff');
    font-weight: medium;
}

@font-face {
    font-family: 'Montserrat-r';
    src: url('Montserrat-Woff/Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Woff/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
}

p, a{
    font-family: 'Montserrat-r';
}

html, body{
    margin: 0;
    font-family: 'Montserrat-m';
    font-size: 1rem;
}

h1{
    font-family: 'Montserrat-b';
    position: absolute;
    bottom: 10%;
    left: 2%;
    width: 200px;
    font-size: 16px;
    color: white;
}

@media (min-width:480px) {
    h1{
        font-family: 'Montserrat-b';
        position: absolute;
        bottom: 10%;
        left: 10%;
        width: 200px;
        font-size: 64px;
        color: white;
    }
}


h3{
    font-family: 'Montserrat-b';
    font-size: 32px;
    color: white;
}

h2{
    color: white;
    font-family: 'Montserrat-r';
    font-size: 41px;
}

h4{
    font-family: 'Montserrat-b';
}

/*Pup-up Section*/
.pop-up-bg-disable{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.pop-up-bg-disable-active{
    display: block;
}

.pop-up, .pop-up-content{
    z-index: 1;
}

.pop-up{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.pop-up-active{
    display: flex;
}

.pop-up-content{
    position: absolute;
    display: flex;
    width: 42.4rem;
    background-color: white;
    scale: 0.6;
}

.pop-up-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1.5rem;
    font-size: 1.5rem;
}

.pop-up-text img{
    cursor: pointer;
}

.pop-up-img img{
    height: 100%;
}

.close-pop-up{
    position: absolute;
    top: -2rem;
    right: -2rem;
    cursor: pointer;
}

/*Header Section*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 11rem;
    margin: 0 2rem;
    font-size: 1.1rem;
}

.disable-header{
    display: none;
    position: absolute;
    left: -2rem;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--skymning-color);
    opacity: 0;
}

.disable-header-active{
    display: block;
}

.burger-icon{
    cursor: pointer;
}

.burger-icon div{
    width: 38px;
    height: 4px;
    margin-bottom: 0.4rem;
    background-color: var(--skymning-color);
}

nav{
    display: none;
}

nav a{
    cursor: pointer;
}

nav a:hover{
    text-decoration: underline;
}

.header-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 4.5rem;
    z-index: -1;
}

.header-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-options a{
    display: none;
    cursor: pointer;
}

.header-options a:hover{
    text-decoration: underline;
}

.header-options img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.header-drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 10rem;
    height: 17.75rem;
    left: -2rem;
}

.header-drop-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-17.75rem);
    width: 100vw;
    height: 17.75rem;
    background-color: var(--cream-de-la-creme);
    transition: 0.3s transform ease-in;
}

.header-drop-container-open{
    transform: translateY(0);
}

.header-clothing{
    display: none;
}

.header-clothing a{
    font-family: 'Montserrat-r';
    font-size: 1rem;
}

.header-clothing-open{
    display: flex;
}

.clothing-left{
    padding-right: 1rem;
    height: 10.25rem;
}

.clothing-right{
    border-left: 1px solid var(--skymning-color);
    padding-left: 1rem;
    height: 12.75rem;
}

.clothing-left, .clothing-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clothing-left a:hover, .clothing-right a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.clothing-left h3, .clothing-right h3{
    color: var(--skymning-color);
    font-size: 1rem;
    margin: 0;
}

.header-accessories{
    display: none;
    height: 12rem;
}

.header-accessories h3{
    color: var(--skymning-color);
    font-size: 1rem;
    margin: 0;
}

.header-accessories a{
    font-family: 'Montserrat-r';
    font-size: 1rem;
}

.header-accessories a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.header-accessories-open{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-country{
    display: none;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    height: 8.75rem;
}

.header-country a{
    text-decoration: none;
}

.header-country a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.header-country-open{
    display: flex;
}

/* Burger Menu Section */
.burger-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(-150vw);
    top: 0;
    left: 0;
    background-color: var(--cream-de-la-creme);
    z-index: 2;
    transition: 0.4s transform ease;
}

.burger-menu-open{
    transform: translateX(0);
}

.close-menu{
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 1.5rem;
}

.burger-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.burger-nav h3{
    font-family: 'Montserrat-b';
    font-size: 1rem;
    color: var(--skymning-color);
    padding-left: 1rem;
}

.burger-accordion-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.burger-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid var(--skymning-color);
    cursor: pointer;
}

.burger-heading img{
    transform: rotateZ(90deg);
    transition: transform 0.5s ease;
}

.burger-heading-open img{
    transform: rotateZ(-90deg);
}

.burger-content{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.burger-content div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
}

.burger-content div a{
    font-family: 'Montserrat-r';
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none
}

.burger-content a:hover{
    text-decoration: underline;
}

.burger-content-open{
    max-height: 10rem;
}

.burger-clothing a{
    margin-bottom: 0;
}

.burger-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
}

.burger-footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 10rem;
}

.burger-footer-content img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

/* Hero Section */
.hero-section{
    position: relative;
}

.hero-section video{
    width: 100%;
    height: 100%;
}

/* Image Section */

.images-section{
    width: 100%;
    height: 100%;
    margin-top: 4.3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;

}

.white-box{
    position: absolute;
    margin: 20px 0 0 0;
    background-color: white;
    width: 99px;
}
.white-box p{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--skymning-color);
}

.images-section-thumbnail{
    grid-column-start: 1;
}

.images-section-thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 596px;

}

#images-section-thumbnail-2 img{
}

#images-section-thumbnail-3{
    display: none;
}

.images-section-thumbnail-info p{
    margin-left: 5%;
}

@media (min-width:600px) {
    .images-section{
        grid-template-columns: 20% 1fr 20%;
    }

    .images-section-thumbnail{
        grid-column-start: 2;
    }

    #images-section-thumbnail-3{
        display: inline;
    }
    
}

@media (min-width:1280px) {
    .images-section{
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
    }

    #images-section-thumbnail-1{
        grid-column-start: 2;
    }

    #images-section-thumbnail-2{
        grid-column-start: 3;
    }

    #images-section-thumbnail-3{
        grid-column-start: 4;
    }
}

/* New Collection Section */

.new-collection-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 224px;
    background-color: var(--apelsin-color);
    margin-top: 4rem;

}

.new-collection-section h3{
    margin: 36px auto 16px auto;    
}

.new-collection-section p{
    margin: 0 auto 8px auto;
    order: 0;
    font-size: 1rem;
    color: white;
    width: 70%;
    text-align: center;
}

@media (max-width: 480px) {
    .new-collection-section h3 {
        margin-bottom: 8px;
    }
}

.explore-now-button{
    order: 1;
    margin:  0 auto 0 auto;
}

/* Collection section */

.collection-section{
    position: relative;
}

.collection-section-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.collection-section-images img{
    width: 100%;
    max-height: 982px;
    object-fit: cover;
}

#collection-section-img1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.collection-section h2{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collection-section-header{
    position:relative;
    height: 100%;
}

.collection-section .explore-now-button{
    margin-top: 40px;
}
.collection-section .explore-now-button{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}


@media (min-width: 480px) {
    .collection-section .explore-now-button{
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
}




/*Contact Section*/
.contact-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 42rem;

    background-image: url('images/bag-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-content label{
    padding-left: 1rem;
}

.contact-section h2{
    color: white;
    font-family: 'Montserrat-b';
}

.contact-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;
}

.contact-text p{
    display: none;
    color: white;
}

.contact-bg-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.contact-heading{
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 3px;
}

.contact-text, .contact-content{
    z-index: 1;
}

.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: var(--apelsin-color);
    width: 100%;
    height: 11.5rem;
}

.contact-content-container p{
    border-left: 8px solid var(--gurka-color);
    padding-left: 0.5rem;
    color: white;
}

.contact-input-field input, .contact-input-field button{
    margin-left: 1rem;
}

.contact-content-container p{
    margin-left: 1rem;
}

.contact-input-field input{
    width: 10rem;
    padding: 1rem 0.5rem;
}

.input-error-active{
    border: 2px solid var(--fel-color);
}

.contact-input-field button{
    width: 11rem;
    padding: 1rem 0rem;
    margin-right: 1rem;
    background-color: var(--chocklad-color);
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
}

.contact-input-field button img{
    margin-left: 1.5rem;
}

.contact-input-field button:hover{
    background-color: var(--kaffe-color);
}

.contact-input-field button:hover::after{
    border-left: var(--kaffe-color);
}

.contact-input-field button::after{
    content: '';
    position: absolute;
    right: -3px;
    bottom: -3px;
    width: 0.7rem;
    height: 0.9rem;
    margin: -2px;
    transform: rotate(41deg);
    background-color: var(--apelsin-color);
    border-left: 1px solid var(--chocklad-color);
}

.email-error-field{
    display: none;
}

.email-error-field-active{
    display: flex;
    align-items: center;
    width: 20rem;
    margin-left: 1rem;
}

.email-error-field-active img{
    width: 0.9rem;
    height: 0.9rem;
}

.email-error-field-active p{
    color: white;
    font-family: 'Montserrat-r';
    font-weight: 12px;
    margin: 0;
    border: none;
}

/* Product Delivery Section */

.product-delivery{
    display: flex;
    justify-content: center;
    margin: 2rem;
    height: 100%;
}

.delivery-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.delivery-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 12rem;
    height: 100%;
    cursor: default;

    transition: 2s scale;
}

.delivery-card:hover{
    scale: 1.2;
}

.delivery-card h3, .delivery-card p{
    margin-top: 1rem;
    margin-bottom: 0;
}

.delivery-card h3{
    font-family: 'Montserrat-b';
    font-size: 1rem;
    color: black;
}

.delivery-card p{
    font-family: 'Montserrat-r';
    font-size: 0.75rem;
}

.delivery-card img{
    height: 3rem;
}

/* Footer Bottom Section*/
.footer-bottom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--cream-de-la-creme);
    padding-bottom: 1rem;
}

.footer-bottom-container h4{
    font-family: 'Montserrat-b';
    font-size: 1rem;
}

.footer-bottom-container p{
    font-family: 'Montserrat-r';
    font-size: 1rem;
}

.footer-bottom-container div{
    text-align: center;
}

.footer-logo{
    display: none;
}

.follow-icons{
    display: flex;
    justify-content: space-between;
    width: 17rem;
}

.follow-icons img{
    width: 4.5rem;
    height: 4.5rem;
}

.payment-icons{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--skymning-color);
    border-radius: 0.4rem;
    width: auto;
}

.payment-icons img{
    padding: 0.4rem 0.6rem;
    width: 3.8rem;
    height: 2.37rem;
}
@media screen and (min-width: 768px) {
    /*Header Section*/
    .burger-icon{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    nav a{
        text-decoration: none;
        color: black;
        margin-right: 1rem;
        font-size: 0.9rem;
    }

    .header-options a{
        display: block;
        font-size: 0.9rem;
    }

    .header-options img{
        width: 3rem;
        height: 3rem;
    }

    .header-logo{
        width: 6.5rem;
    }

    /*Pop-Up Section*/
    .pop-up-content{
        scale: 1;
    }

    .pop-up-text{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1023px){
    /*Header Section*/
    nav a{
        font-size: 1.1rem;
    }

    .header-options a{
        font-size: 1.1rem;
    }

    /*Delivery Section*/
    .delivery-container{
        width: 60rem;
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    /*Contact Section*/
    .contact-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 4rem;
        width: 80%;
        text-align: center;
    }

    .contact-text p{
        display: block;
    }

/*Footer Bottom Section*/
.footer-bottom-container{
    flex-direction: row;
    justify-content: space-around;
}

.footer-bottom-container div{
    scale: 0.9;
}

.footer-logo{
    display: block;
    width: 9.75rem;
}
}

/* Footer Top */

.footer-top{
    display: none;
}

@media screen and (min-width: 768px) {
.footer-top{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        padding: 100px;
        background-color: var(--footer-background);
    }
}


.footer-top ul{
    list-style: none;
    padding: 0;
}

.footer-top h2{
    font-family: 'Montserrat-b';
}

.footer-service, .footer-member{
    margin-left: 48px;
    color: var(--skymning-color);
}

.footer-member{
    margin-right: 5%;
}

.footer-top h3, h2{
    color: var(--skymning-color);
}

.footer-contact{
    flex-grow: 2;
}

.footer-contact form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 158px;
}

.footer-contact input{
    width: 30%;
}

.footer-contact p{
    width: 40%;
}

.footer-contact-textbox{
    width: 11.6rem;
    padding: 1rem 0.5rem
}

.footer-link-section{
    order: 1;
    display: flex;
    flex-direction: row;
}

/*Footer Top Mobile */

.hide{
    display: none;
}

.footer-top-mobile{
    background-color: var(--footer-background);
    margin: 0;
}

.footer-top-mobile ul{
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.footer-top-mobile-hamburger-item{
    border-top: solid #323232 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-top-mobile-hamburger-item:nth-last-child(1){
    border-bottom: solid #323232 1px;
}

.footer-top-hamburger-item-link-list{
    background-color: white;
}

.footer-top-hamburger-item-arrow{

}
